# Ignore Terraform state files
*.tfstate
*.tfstate.*
terraform.tfstate
terraform.tfstate.*

tfplan

.terraform.lock.hcl

.terraform/
.ansible /
monitor/ansible/ansible_vars.yml
monitor/ansible/results.yml

.vagrant/

*.log

.cache

.bash_history

node_modules/

ansible_vars_work_items.yml
monitor/ansible/ansible_vars_work_items.yml
