# Ignore Terraform state files
*.tfstate
*.tfstate.*
terraform.tfstate
terraform.tfstate.*

tfplan

.terraform.lock.hcl

.terraform/
.ansible /
ansible/ansible_vars.yml
ansible/results.yml

.vagrant/

*.log

go/

.cache

.bash_history
